/*bersihkan halaman dari gaya bawaan browser*/
/*=====CSS RESET=====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*deklarasi variabel global*/
/*=====ROOT=====*/
:root {
    --primary-color: #4CAF50;
    --text-color: #333;
    --background-color: #f9f9f9;
}
/*menerapkan gaya ke seluruh elemen atau bagian situs web secara bersamaan*/
/*=====GLOBAL=====*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}
/*mengatur gaya untuk elemen header, footer, dan main secara spesifik*/
/*=====Layout=====*/
header,
footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
}
main {
    padding: 1.5rem;
}