/*bersihkan halaman dari gaya bawaan browser*/
/*=====CSS RESET=====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*deklarasi variabel global*/
/*=====ROOT=====*/
:root {
    --primary-color: #050301;
    --text-color: #333;
    --background-color: #f9f9f9;
}
/*menerapkan gaya ke seluruh elemen atau bagian situs web secara bersamaan*/
/*=====GLOBAL=====*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1000px;
    margin: auto;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
main {
    padding: 1.5rem;
}

.center-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-me {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    max-width: 45ch;
}

.skills {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    margin-top: 1.5rem;
}

.contact-me {
    width: 50%;
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    max-width: 45ch;
}

.logo {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 1rem;
}